/* tamaño general para todos los textos */
body {
    font-size: 16px;
}

/* em, rem, ex */
p.em {
    font-size: 2em;
}

div p {
    font-size: 2em;
}

div p.rem {
    font-size: 1rem;
}

p.ex {
    font-size: 1ex;
}

div.prueba {
    font-size: 20px;
}