div {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.rgb_1 {
    background-color: rgba(200, 50, 25, 0.5);
}

.rgb_2 {
    background-color: rgba(20, 255, 200, 0.3);
}

.rgb_3 {
    background-color: hsla(240, 80%, 70%, 0.7);
}