div {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.rgb_1 {
    background-color: rgb(25%, 80%, 20%);
}

.rgb_2 {
    background-color: rgb(44%, 78%, 90%);
}

.rgb_3 {
    background-color: rgb(25%, 15%, 5%);
}