/* after, before */
h1 {
    position: relative;
    margin-top: 50px;
    text-align: center;
}

h1:after {
    content: '';
    position: absolute;
    display: block;
    width: 20%;
    height: 10px;
    left: 40%;
    background-color: teal;
}