div {
    width: 100px;
    height: 100px;
    margin: 10px;
}

.rgb_1 {
    background-color: hsl(180, 50%, 25%);
}

.rgb_2 {
    background-color: hsl(300, 50%, 75%);
}

.rgb_3 {
    background-color: hsl(70, 20%, 45%);
}